<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Paranoid</title>
    </head>
    <body>

        <dialog id="dialog" class="mdl-dialog">
            <div class="mdl-dialog__title"><i class="fa fa-exclamation-triangle"></i>&nbsp;Warning</div>
            <div class="mdl-dialog__content">
                <p id="dialog-intern-message"></p>
            </div>
            <div class="mdl-dialog__actions">
                <button type="button" class="mdl-button close">Ok</button>
            </div>
        </dialog>

        <div class="mdl-layout mdl-js-layout has-drawer is-upgraded">
            <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
                <header class="mdl-layout__header">
                    <div class="mdl-layout__header-row">
                        <span class="mdl-layout-title"></span>
                        <div class="mdl-layout-spacer"></div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
                            <button id="btn-config" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" for="fixed-header-drawer-exp">
                                <i class="material-icons">settings</i>
                            </button>
                            <div class="mdl-textfield__expandable-holder">
                                <input class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp">
                            </div>
                        </div>
                    </div>
                </header>

                <main class="mdl-layout__content" style="margin-left: 0px;">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col-desktop" style="width: 100%;">
                            <div  class="form-card mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title mdl-card--expand">
                                    <h3 class="title">Welcome to Paranoid!</h3>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <p>A simple and easy to use local web chat... please read the <a href="#">documentation</a> if you want to make your own local web chat</p>
                                </div>
                                <form id="login-form" action="" method="POST">
                                    <div>
                                        <div class="mdl-card__supporting-text">
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 100%;">
                                                <input class="mdl-textfield__input" type="text" id="login">
                                                <label class="mdl-textfield__label" for="login">Login:</label>
                                            </div>
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 100%;">
                                                <input class="mdl-textfield__input" type="password" id="passwd">
                                                <label class="mdl-textfield__label" for="passwd">Password:</label>
                                            </div>

                                            <span class="mdl-list__item-secondary-action">
                                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                                                    <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked />&nbsp;Remember me...
                                                </label>
                                            </span>
                                        </div>
                                        <div class="mdl-card__actions mdl-card--border">
                                            <a id="btn-start-chat" class="mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                                Start Chat
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <link rel="stylesheet" href="../public/css/main.css" />
        <link rel="stylesheet" href="../public/css/material.teal-red.min.css" />
        <link rel="stylesheet" href="../public/css/font-awesome.min.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <script>window.$ = window.jQuery = require('../public/js/libs/jquery.min.js');</script>
        <script src="../public/js/libs/utils.js"></script>
        <script src="../public/js/libs/sjcl.js"></script>
        <script src="../public/js/libs/material.min.js"></script>
        <script src="../public/js/views/main_web.js"></script>
    </body>
</html>
